{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% include 'store/navigation.html' %}
<style>
  #id_numero_telephone_0 {
    width: 45px; /* Ajustez la largeur selon vos besoins */
  } 
</style>
<br>
<div class="container mb-4">
  <div class="row">
    <div class="container mt-5"> <!-- Vous pouvez également ajouter 'container' pour un centrage plus efficace -->
      <div class="row">
        <div class="col-sm-6 text-center d-flex align-items-center justify-content-center">
          <img src="{% static 'images/rockers-rafiki.png' %}" alt="signup image" width="400" height="400">
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-12">
              <h2 class="login-title">Bienvenue sur mahata motors</h2>
              <p>Entrer vos informations pour vous inscrire.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12"> <!-- Vous pouvez ajuster la classe 'col-md-6' en fonction de la largeur souhaitée -->
              <form method="post" id="login-form" class="row g-2">
                {% csrf_token %} 
                <div class="col-md-6">
                  <label for="first_name" class="form-label">Nom</label>
                  {{form.first_name}}
                  {% if form.first_name.errors %}
                    <small style="color:red">{{ form.first_name.errors }}</small>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="last_name" class="form-label">Prénom</label>
                  {{form.last_name}}
                  {% if form.last_name.errors %}
                    <small style="color:red">{{ form.last_name.errors }}</small>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="numero_telephone" class="form-label">Téléphone</label>
                  <div class="d-flex">
                    {{form.numero_telephone}}
                  </div> 
                  {% if form.numero_telephone.errors %}
                    <small style="color:red">{{ form.numero_telephone.errors }}</small>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Adresse e-mail</label>
                  {{form.email}}
                  {% if form.email.errors %}
                    <small style="color:red">{{ form.email.errors }}</small>
                  {% endif %}
                </div>
                <div class="col-md-12">
                  <label for="password1" class="form-label">Mot de passe</label>
                  {{form.password1}}
                  {% if form.password1.errors %}
                    <small style="color:red">{{ form.password1.errors }}</small>
                  {% endif %}
                </div>
                <div class="col-md-12">
                  <label for="password2" class="form-label">Confirmer le mot de passe</label>
                  {{form.password2}}
                  {% if form.password2.errors %}
                    <small style="color:red">{{ form.password2.errors }}</small>
                  {% endif %}
                </div> 
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn_popular">Valider</button> 
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> 
<br>
{% endblock content %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"></script>
  <script>
      var input = document.querySelector("#id_numero_telephone_0");
      var iti = window.intlTelInput(input, { 
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
      });

      var countryList = document.querySelector('#iti-0__country-listbox');
      var phoneNumberSelect = document.querySelector('#id_numero_telephone_0');

      countryList.addEventListener('click', function (e) {
          var listItem = e.target.closest('.iti__country'); 
          console.log(listItem);
          if (listItem) {
              var countryCode = listItem.getAttribute('data-country-code'); 
              console.log(countryCode);
              iti.setCountry(countryCode); // Update selected country in the input
              phoneNumberSelect.value =  countryCode.toUpperCase(); // Update select field   
              console.log(phoneNumberSelect.value);
          }
      });
  </script>
{% endblock javascript %}

 