{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'store/navigation.html'%}
<!-- liste des produits -->

<style>
    .filter-tab{
        background-color: #DCDCDC;
        border-right: 1px solid white;
    } 
    .filter-menu{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .filter-tab img{
        width: 40px;
        height: 40px;
    }
    .active .filter-tab-bottom{ 
        width: auto;
        height: 3px;
        background-color: orangered;
    }
    .active{
        background-color:white;  
        display: block;
    }
    #filter-section{
        padding-top: 80px;
        padding-bottom: 40px;
        background-image: url("{% static 'images/banniere.jpg' %}");
        background-size: cover;
    }
</style>

<main> 
    <section style="background-color:#f7f7f7; padding: 0px;">
        
        <div id="filter-section"  >
            <!-- filtre de selection-->  
            <div class="container">
                <div class="row px-2 mb-1">
                    <div class="d-flex justify-content-start bg-white w-auto filter-menu">
                        <div type="boutton" class="filter-tab py-2 px-3 active" id="filter-btn-motocyclette">
                            <img src="{% static 'images/moto.png' %}" alt="">
                            <div class="filter-tab-bottom"></div>
                        </div>
                        <div type="button" class="filter-tab py-2 px-3" id="filter-btn-accessoires">
                            <img src="{% static 'images/casque-moto.png' %}" alt="">
                            <div class="filter-tab-bottom"></div>
                        </div>
                        <div type="button" class="filter-tab py-2 px-3" id="filter-btn-pieces">
                            <img src="{% static 'images/courroie-de-distribution.png' %}" alt="">
                            <div class="filter-tab-bottom"></div>
                        </div>
                    </div>
                </div>
                <!-- Formulaire pour les motos et les tricyles -->
                <form action="{% url 'boutique' %}" method="get" class="row mb-4 stiky-top gy-1 gx-2 p-3 bg-white content-table" id="filtre-moto"> 
                    <input type="hidden" name="active_form" value="moto"> <!-- Ajoutez cette ligne -->
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="type">
                            <option selected value="">Type de véhicule</option>
                            <option value="Motocyclette" {% if 'type' in request.GET and request.GET.type == 'Motocyclette' %}selected{% endif %}>Motocyclette</option>
                            <option value="Tricycle" {% if 'type' in request.GET and request.GET.type == 'Tricycle' %}selected{% endif %}>Tricycle</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-6">
                        <input type="text" name="query" value="{{ request.GET.query }}" style="display:none;">
                        <select name="marque" class="form-select">
                            <optgroup label="Top marques">
                                <option selected value="">Marque</option>
                                <option value="bazar" {% if 'marque' in request.GET and request.GET.marque == 'bazar' %}selected{% endif %}>Bazar</option>
                                <option value="cocimecam" {% if 'marque' in request.GET and request.GET.marque == 'cocimecam' %}selected{% endif %}>Cocimecam</option>
                                <option value="senke" {% if 'marque' in request.GET and request.GET.marque == 'senke' %}selected{% endif %}>Senke</option>
                            </optgroup>
                            <optgroup label="Autres marques"> 
                                {% for brand in brands %}
                                    <option value="{{ brand.name }}" {% if 'marque' in request.GET and request.GET.marque == brand.name  %}selected{% endif %}>{{ brand.name }}</option>
                                {% endfor %} 
                            </optgroup>
                        </select>
                    </div>   
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="gamme">
                            <option selected value="">Gamme</option>
                            <option value="commercial" {% if 'gamme' in request.GET and request.GET.gamme == 'commercial' %}selected{% endif %}>Utilisation commerciale</option>
                            <option value="ville"{% if 'gamme' in request.GET and request.GET.gamme == 'ville' %}selected{% endif %}>Pour la ville</option>
                            <option value="aventure"{% if 'gamme' in request.GET and request.GET.gamme == 'aventure' %}selected{% endif %}>Pour l'aventure</option>
                        </select>
                    </div>   
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="prix">
                            <option value="">Prix jusqu'à (FCFA)</option>
                            <option value="400000"{% if 'prix' in request.GET and request.GET.prix == '400000' %}selected{% endif %}>400 000 FCFA</option> 
                            <option value="500000"{% if 'prix' in request.GET and request.GET.prix == '500000' %}selected{% endif %}>500 000 FCFA</option>
                            <option value="600000"{% if 'prix' in request.GET and request.GET.prix == '600000' %}selected{% endif %}>600 000 FCFA</option>
                            <option value="700000"{% if 'prix' in request.GET and request.GET.prix == '700000' %}selected{% endif %}>700 000 FCFA</option>
                            <option value="800000"{% if 'prix' in request.GET and request.GET.prix == '800000' %}selected{% endif %}>800 000 FCFA</option>
                            <option value="1000000"{% if 'prix' in request.GET and request.GET.prix == '1000000' %}selected{% endif %}>1000 000 FCFA</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="year">
                            <option  value="">Année</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                        </select>
                    </div>  
                    <div class="col-md-4 col-6 d-grid">
                        <button class="filter-search-button" type="submit">Resultats({{ motos.count }})</button>
                    </div>  
                </form>

                <!-- Formulaire pour les accéssoires -->
                <form action="{% url 'boutique' %}" method="get" class="row mb-4 stiky-top gy-1 gx-2 p-3 bg-white content-table" style="display:none;" id="filtre-accessoires"> 
                    <input type="hidden" name="active_form" value="accessoires"> <!-- Ajoutez cette ligne -->
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="accessoire">
                            <option selected value="">Type d'accéssoire</option>
                            {% for categorie in type_accessoires %}
                                <option value="{{ categorie.name }}" {% if 'type' in request.GET and request.GET.type == categorie.name  %}selected{% endif %}>{{ categorie.name }}</option> 
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 col-6">
                        <input type="text" name="query" value="{{ request.GET.query }}" style="display:none;">
                        <select class="form-select" name="prix">
                            <option value="">Prix jusqu'à (FCFA)</option>
                            <option value="20000"{% if 'prix' in request.GET and request.GET.prix == '20000' %}selected{% endif %}>20 000 FCFA</option> 
                            <option value="35000"{% if 'prix' in request.GET and request.GET.prix == '35000' %}selected{% endif %}>35 000 FCFA</option>
                            <option value="50000"{% if 'prix' in request.GET and request.GET.prix == '50000' %}selected{% endif %}>50 000 FCFA</option>
                        </select>
                    </div> 
                    <div class="col-md-4 col-6 d-grid">
                        <button class="filter-search-button" id="btn-search-accessoires" type="submit">Resultats({{ accessoires.count }})</button>
                    </div>  
                </form>

                <!-- Formulaire pour les pièces de rechanges -->
                <form action="{% url 'boutique' %}" method="get" class="row mb-4 stiky-top gy-1 gx-2 p-3 bg-white content-table" style="display:none" id="filtre-pieces"> 
                    <input type="hidden" name="active_form" value="pieces"> <!-- Ajoutez cette ligne --> 
                    <div class="col-md-3 col-6">
                        <input type="text" name="query" value="{{ request.GET.query }}" style="display:none;">
                        <select name="marque_piece" id="id_marque" class="form-select">
                            <optgroup label="Top marques">
                                <option selected value="">Marques</option>
                                <option value="bazar" {% if 'marque_piece' in request.GET and request.GET.marque_piece == 'bazar' %}selected{% endif %}>Bazar</option>
                                <option value="cocimecam" {% if 'marque_piece' in request.GET and request.GET.marque_piece == 'cocimecam' %}selected{% endif %}>Cocimecam</option>
                                <option value="senke" {% if 'marque_piece' in request.GET and request.GET.marque_piece == 'senke' %}selected{% endif %}>Senke</option>
                            </optgroup>
                            <optgroup label="Autres marques"> 
                                {% for brand in brands %}
                                    <option value="{{ brand.name }}" {% if 'marque_piece' in request.GET and request.GET.marque_piece == brand.name  %}selected{% endif %}>{{ brand.name }}</option>
                                {% endfor %} 
                            </optgroup>
                        </select>
                    </div>   
                    <div class="col-md-3 col-6">
                        <select class="form-select" name="modele" id="id_modele">
                            <option  value="">Modèle</option> 
                        </select>
                    </div>
                    <div class="col-md-3 col-6">
                        <select class="form-select" name="year" id="id_annee">
                            <option selected value="">Année</option> 
                        </select>
                    </div>   
                    <div class="col-md-3 col-6 d-grid">
                        <button class="filter-search-button" id="btn-search-pieces" type="submit">Resultats({{ pieces.count }})</button>
                    </div>  
                </form>
            </div> 
        </div>
                
        <div class="container"> 
            <!-- affichage des motos -->
            {% if motos or accessoires or pieces %}
                {% if motos %}
                    <div id="boutique-moto-block" class="content-table">
                        <div class="row mb-3 mt-3">
                            <div class="col-12 header_boutique d-flex justify-content-between">
                                <h4 class="title__boutique">Motocyclettes & Tricycles</h4> 
                            </div>
                        </div> 
            
                        <div class="row gy-2 resultats-moto" >
                            {% for moto in motos %} 
                                <div class="col-6 col-md-3">
                                    <div class="product_item">
                                        <img class="" src="{{moto.imageURL}}" alt="" width="100%">
                                        <div class="bg-white p-2" style="border-radius: 0px 0px 5px 5px;">
                                            <small>{{moto.categorie}}</small>
                                            <div class="d-flex justify-content-between">
                                                <h4 class="item_name">{{moto.brand}} {{moto.type_model}}</h4>  
                                                <p class="item_price">{{moto.price|separate_by_space}} F</p> 
                                            </div> 
                                            <p>2019 &bullet; manuel &bullet; essence</p>
                                            <div class="d-grid gap-1 pb-2"> 
                                                <a class="btn btn_popular" href="{% url 'details' moto_id=moto.pk %}" type="button">Voir cette moto</a> 
                                            </div>
                                        </div> 
                                    </div>
                                </div> 
                            {% endfor %} 
                        </div>
                    </div>
                {% endif %} 

                {% if accessoires %}
                    <div id="boutique-accessoires-block" class="content-table" style="display:none;">
                        <div class="row mb-3 mt-2">
                            <div class="col-12 header_boutique d-flex justify-content-between">
                                <h4 class="title__boutique">Accéssoires</h4> 
                                
                                <div>
                                    <a href="">Voir plus</a> 
                                </div>    
                            </div>
                        </div> 
                        <div class="row gy-2 resultats-accessoires">
                            {% for accessoire in accessoires %}
                                <div class="col-6 col-md-3">
                                    <div class="product_item">
                                        <img class="" src="{{accessoire.imageURL}}" alt="" width="100%">
                                        <div class="bg-white p-2" style="border-radius: 0px 0px 5px 5px;">
                                            <small>{{accessoire.categorie}}</small>
                                            <div class="d-flex justify-content-between">
                                                <h4 class="item_name">{{accessoire.name}}</h4>  
                                                <p class="item_price">{{ accessoire.price|separate_by_space }} FCFA</p>
                                            </div> 
                                            <div class="d-grid gap-2 pb-2"> 
                                                <a class="btn btn_popular" href="{% url 'details-item' item_id=accessoire.pk %}" type="button">Voir cet équipement</a> 
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            {% endfor %} 
                        </div> 
                    </div> 
                {% endif %}  

                {% if pieces %}
                    <div id="boutique-pieces-block" class="content-table" style="display:none;">
                        <div class="row mb-3 mt-2">
                            <div class="col-12 header_boutique d-flex justify-content-between">
                                <h4 class="title__boutique">Pièces de rechange</h4>  
                                <div>
                                    <a href="">Voir plus</a> 
                                </div>    
                            </div>
                        </div> 
                        <div class="row gy-2 resultats-pieces">
                            {% for piece in pieces %}
                                <div class="col-6 col-md-3">
                                    <div class="product_item">
                                        <img class="" src="{{piece.imageURL}}" alt="" width="100%">
                                        <div class="bg-white p-2" style="border-radius: 0px 0px 5px 5px;">
                                            <small>{{piece.categorie}}</small>
                                            <div class="d-flex justify-content-between">
                                                <h4 class="item_name">{{piece.name}}</h4>  
                                                <p class="item_price">{{ piece.price|separate_by_space }} FCFA</p>
                                            </div> 
                                            <div class="d-grid gap-2 pb-2"> 
                                                <a class="btn btn_popular" href="{% url 'details-item' item_id=piece.pk %}" type="button">Voir cet équipement</a> 
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            {% endfor %} 
                        </div> 
                    </div> 
                {% endif %} 

            {% endif %}

            <!--  Affichage des bannières -->

            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                  <div class="pub-banner" style="background-image: url('{% static 'images/banniere-moto.jpg' %}');">
                    <h4>Service après-vente de qualité.</h4>
                    <p>Problème avec votre moto ? nous sommes là pour vous.</p>
                    <button class="btn btn-banner">PAR ICI <i class="bi bi-arrow-right"></i></button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pub-banner" style="background-image: url('{% static 'images/banniere-moto.jpg' %}');">
                    <h4>Guide d'achat de motos</h4>
                    <p>Acheter une moto avec succès grâce à nos conseils d'expert.</p>
                    <button class="btn btn-banner">S'informer <i class="bi bi-arrow-right"></i></button>
                  </div>
                </div>
            </div>

        </div>
    </section>
</main>
<br>
<!-- 
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %} 
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">previous</span>
                        </a> 
                    </li> 
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>
-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script> 
    $(document).ready(function() {
        var activeForm = getActiveForm();
        if (activeForm) {
            $('.content-table').hide();
            $('#boutique-' + activeForm + '-block').show();
            $('#filtre-' + activeForm).show();
            $('.filter-menu div').removeClass('active');
            $('#filter-btn-' + activeForm).addClass('active');
        }
        
        // Récupérer les paramètres GET de l'URL
        const urlParams = new URLSearchParams(window.location.search);

        // Vérifier si les paramètres sont présents dans l'URL je les utilises au cas ou la page est rechargé pour afficher le formulaire avec les données précédentes
        const marquePiece = urlParams.get('marque_piece');
        const modele = urlParams.get('modele');
        const year = urlParams.get('year');  

        // Activer ou désactiver les champs en fonction de la présence des paramètres
        if (marquePiece !== null) {
            $('#id_marque').val(marquePiece); // Sélectionne la valeur dans le champ marque_piece
        }

        if (modele !== null) {
            $('#id_modele').prop('disabled', false);   
            $.ajax({
                    url: '/get_modeles/',
                    data: {'marque': marquePiece},
                    dataType: 'json',
                    success: function(data) {
                        var modeleSelect = $('#id_modele'); 
                        modeleSelect.empty();
                        modeleSelect.append($('<option></option>').attr('value', '').text("Modèle"));
                        $.each(data.modeles, function(key, value) { 
                            if(value == modele){
                                modeleSelect.append($('<option></option>').attr('selected','selected').attr('value', value).text(value));
                            }else {
                                modeleSelect.append($('<option></option>').attr('value', value).text(value));
                            }  
                        });
                    }
                });
        } else {
            $('#id_modele').prop('disabled', true);
        }

        if (year !== null) {
            $('#id_annee').prop('disabled', false);
            $.ajax({
                    url: '/get_annees/',
                    data: {'modele': modele},
                    dataType: 'json',
                    success: function(data) {
                        var anneeSelect = $('#id_annee');
                        anneeSelect.empty();
                        anneeSelect.append($('<option></option>').attr('value', '').text('Année'));
                        $.each(data.annees, function(key, value) {
                            if(value == year){
                                anneeSelect.append($('<option></option>').attr('selected', 'selected').attr('value', value).text(value));
                            }else{
                                anneeSelect.append($('<option></option>').attr('value', value).text(value));
                            } 
                        });
                    }
                });
        } else {
            $('#id_annee').prop('disabled', true);
        }

        //requettes ajax pour le formulaire de recherche de pièces de rechange
        $('#id_marque').change(function() {
            console.log("BOnjour");
            var selectedMarque = $(this).val();
            var valueOptions = [];
            if (selectedMarque) {
                $('#id_modele').prop('disabled', false);
                $.ajax({
                    url: '/get_modeles/',
                    data: {'marque': selectedMarque},
                    dataType: 'json',
                    success: function(data) {
                        var modeleSelect = $('#id_modele'); 
                        modeleSelect.empty();
                        modeleSelect.append($('<option></option>').attr('value', '').text("Modèle"));
                        $.each(data.modeles, function(key, value) { 
                            modeleSelect.append($('<option></option>').attr('value', value).text(value)); 
                        });
                    }
                }); 
            }
        });


        $('#id_modele').change(function() {
            console.log("bonjour");
            var selectedModele = $(this).val();
            console.log(selectedModele);
            if (selectedModele) {
                $('#id_annee').prop('disabled', false);
                $.ajax({
                    url: '/get_annees/',
                    data: {'modele': selectedModele},
                    dataType: 'json',
                    success: function(data) {
                        var anneeSelect = $('#id_annee');
                        anneeSelect.empty();
                        anneeSelect.append($('<option></option>').attr('value', '').text('Année'));
                        $.each(data.annees, function(key, value) {
                            anneeSelect.append($('<option></option>').attr('value', value).text(value));
                        });
                    }
                });
            }
        });

});

function getActiveForm() {
  var urlParams = new URLSearchParams(window.location.search);
  var activeForm = urlParams.get('active_form');
  return activeForm;
}

</script>
 
{% endblock content %}