{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- liste des produits -->
<main> 
    <section style="background-color:#f7f7f7; padding: 30px 0px;">
        <div class="container">
            <div class="row mb-4 stiky-top gy-1 gx-2 p-3 bg-white"> 
                <div class="col-md-4 col-6">
                    <select class="form-select">
                        <option selected>Marque</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>    
                <div class="col-md-4 col-6">
                    <select class="form-select">
                        <option selected>Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>   
                <div class="col-md-4 col-6">
                    <select class="form-select">
                        <option selected>Gamme</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>   
                <div class="col-md-4 col-6">
                    <select class="form-select">
                        <option selected>Prix jusqu'a(FCFA)</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-4 col-6">
                    <select class="form-select">
                        <option selected>Couleur</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>  
                <div class="col-md-4 col-6">
                    <button class="form-control btn filter-search-button" type="button">resultats(253)</button>
                </div>  
            </div>        
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="product_item">
                        <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                        <div class="bg-white p-3" style="border-radius: 0px 0px 5px 5px;">
                            <small>catégorie</small>
                            <div class="d-flex justify-content-between">
                                <h4 class="item_name">Bazar AMG 505</h4>  
                                <p class="item_price">500 000fcfa</p>
                            </div>
                            <p>2019 &bullet; essence &bullet; 10L </p>
                            <p>Manuel</p>
                            <div class="d-grid gap-2 pb-2">
                                <button class="btn_popular" type="button">Voir cette moto</button> 
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="product_item">
                        <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                        <div class="bg-white p-3" style="border-radius: 0px 0px 5px 5px;">
                            <small>catégorie</small>
                            <div class="d-flex justify-content-between">
                                <h4 class="item_name">Bazar AMG 505</h4>  
                                <p class="item_price">500 000fcfa</p>
                            </div>
                            <p>2019 &bullet; essence &bullet; 10L </p>
                            <p>Manuel</p>
                            <div class="d-grid gap-2 pb-2">
                                <button class="btn_popular" type="button">Voir cette moto</button> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </section>
</main>

<!-- 
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %} 
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">previous</span>
                        </a> 
                    </li> 
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>
-->
 
{% endblock content %}