{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'store/navigation.html'%}
<!-- liste des produits -->

<main> 
    <section style="background-color:#f7f7f7; padding: 30px 0px;">
        <div class="container">
            <!-- filtre de selection--> 
                <form action="{% url 'boutique' %}" method="get" class="row mb-4 stiky-top gy-1 gx-2 p-3 bg-white">
                    <div class="col-md-4 col-6">
                        <input type="text" name="query" value="{{ request.GET.query }}" style="display:none;">
                        <select name="marque" class="form-select">
                            <optgroup label="Top marques">
                                <option selected value="">Marques</option>
                                <option value="bazar" {% if 'marque' in request.GET and request.GET.marque == 'bazar' %}selected{% endif %}>Bazar</option>
                                <option value="cocimecam" {% if 'marque' in request.GET and request.GET.marque == 'cocimecam' %}selected{% endif %}>Cocimecam</option>
                                <option value="senke" {% if 'marque' in request.GET and request.GET.marque == 'senke' %}selected{% endif %}>Senke</option>
                            </optgroup>
                            <optgroup label="Autres marques"> 
                                {% for brand in brands %}
                                    <option value="{{ brand.name }}" {% if 'marque' in request.GET and request.GET.marque == brand.name  %}selected{% endif %}>{{ brand.name }}</option>
                                {% endfor %} 
                            </optgroup>
                        </select>
                    </div>    
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="type">
                            <option selected value="">Type</option>
                            {% for categorie in categories %}
                                <option value="{{ categorie.name }}" {% if 'type' in request.GET and request.GET.type == categorie.name  %}selected{% endif %}>{{ categorie.name }}</option>
                                {% if categorie.sous_categories.all %}
                                    {% for sous_categorie in categorie.sous_categories.all %}
                                        <option style="padding-left: 15px;" value="{{ sous_categorie.name }}" {% if 'type' in request.GET and request.GET.type == sous_categorie.name  %}selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp; {{ sous_categorie.name }} </option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>   
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="gamme">
                            <option selected value="">Gamme</option>
                            <option value="commercial" {% if 'gamme' in request.GET and request.GET.gamme == 'commercial' %}selected{% endif %}>Utilisation commerciale</option>
                            <option value="ville"{% if 'gamme' in request.GET and request.GET.gamme == 'ville' %}selected{% endif %}>Pour la ville</option>
                            <option value="aventure"{% if 'gamme' in request.GET and request.GET.gamme == 'aventure' %}selected{% endif %}>Pour l'aventure</option>
                        </select>
                    </div>   
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="prix">
                            <option value="">Prix jusqu'à (FCFA)</option>
                            <option value="400000">400 000 </option>
                            <option value="450000">450 000</option>
                            <option value="500000">500 000</option>
                            <option value="600000">600 000</option>
                            <option value="700000">700 000</option>
                            <option value="800000">800 000</option>
                            <option value="1000000">1000 000</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-6">
                        <select class="form-select" name="color">
                            <option  value="">Couleur</option>
                            <option value="rouge">Rouge</option>
                            <option value="bleu">Bleu</option>
                            <option value="vert">Vert</option>
                            <option value="noir">Noir</option>
                        </select>
                    </div>  
                    <div class="col-md-4 col-6 d-grid">
                        <button class="filter-search-button" type="submit">Resultats</button>
                    </div>  
                </form>      
            
            <!-- affichage des motos -->
            {% if motos or accessoires %}
                {% if motos %}
                    <div class="row mb-3">
                        <div class="col-12 header_boutique d-flex justify-content-between">
                            <h4 class="title__boutique">Motocyclette</h4> 
                            
                            <div>
                                <a href="{% url 'categorie' categorie_slug='motocyclette' %}">Voir plus</a> 
                            </div>    
                        </div>
                    </div>
        
                    <div class="row gy-2">
                        {% for moto in motos %}
                            <div class="col-12 col-md-4">
                                <div class="product_item">
                                    <img class="" src="{{moto.imageURL}}" alt="" width="100%">
                                    <div class="bg-white p-3" style="border-radius: 0px 0px 5px 5px;">
                                        <small>{{moto.genre}}</small>
                                        <div class="d-flex justify-content-between">
                                            <h4 class="item_name">{{moto.name}}</h4>  
                                            <p class="item_price">{{ moto.price|separate_by_space }} FCFA</p>
                                        </div>
                                        <p>{{moto.puissance_admin}} KW &bullet; essence &bullet; {{moto.capacite_recervoir}} L </p>
                                        <p>Manuel</p>
                                        <div class="d-grid gap-2 pb-2"> 
                                            <a class="btn btn_popular" href="{% url 'details' moto_id=moto.pk %}" type="button">Voir cette moto</a> 
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %} 
                    </div> 
                {% endif %}
                
                {% if accessoires %}
                    <div class="row mb-3">
                        <div class="col-12 header_boutique d-flex justify-content-between">
                            <h4 class="title__boutique">Accéssoires</h4> 
                            
                            <div>
                                <a href="">Voir plus</a> 
                            </div>    
                        </div>
                    </div>
                    <div class="row gy-2">
                        {% for accessoire in accessoires %}
                            <div class="col-12 col-md-4">
                                <div class="product_item">
                                    <img class="" src="{{accessoire.imageURL}}" alt="" width="100%">
                                    <div class="bg-white p-3" style="border-radius: 0px 0px 5px 5px;">
                                        <small>accessoire</small>
                                        <div class="d-flex justify-content-between">
                                            <h4 class="item_name">{{accessoire.name}}</h4>  
                                            <p class="item_price">{{ accessoire.price|separate_by_space }} FCFA</p>
                                        </div> 
                                        <div class="d-grid gap-2 pb-2"> 
                                            <a class="btn btn_popular" href="#" type="button">Voir cet équipement</a> 
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %} 
                    </div> 
                {% endif %} 

            {% endif %}

        </div>
    </section>
</main>

<!-- 
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %} 
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">previous</span>
                        </a> 
                    </li> 
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>
-->
 
{% endblock content %}