{% extends 'base.html' %}
{% load static %} 
{% load custom_filters %}
{% block content %}

{% include 'store/navigation.html' %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="header_panier">Panier</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                {% for item in items %}
                    <div class="cart-row mt-2">
                        <div class="col-md-2 col-4">
                            <img class="row-image" src="{{ item.equipement.imageURL }}" alt="">
                        </div>
                        <div class="col-md-5 col-8">
                            <h5><b>{{ item.equipement.name }}</b></h5>
                            <div class="d-flex justify-content-between">
                                <input type="number" name="" id="" value="{{ item.quantity }}" style="width:40px; height: 30px;"> &nbsp; x &nbsp;
                                {% if item.equipement.get_sale_price %}
                                    <p class="">{{ item.equipement.get_sale_price|separate_by_space }} FCFA</p>
                                {% else %}
                                    <p class="">{{ item.equipement.price|separate_by_space }} FCFA</p>
                                {% endif %}

                            </div>
                            <p style="font-weight: 500; font-size: 17px;">{{ item.get_total|separate_by_space }} FCFA</p>
                            <button class="btn btn-light btn_delete"><i class="bi bi-trash"></i> Retirer</button>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <br> <br>

            <div class="">
                <a class="btn btn-outline-dark" href="{% url 'boutique' %}">&#x2190;Continuer les achats</a>
                <br><br>

                <table class="table">
                    <tr> 
                        <td></td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <h6><b>SOUS-TOTAL</b></h6>
                                <div><strong>{{ order.get_cart_total|separate_by_space }} FCFA</strong></div>
                            </div> 
                            <div class="d-flex justify-content-between">
                                <h6><b>Frais</b></h6>
                                <div>Calculé pendant la commande</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6><b>TVA</b> </h6>
                                <div>0 FCFA</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6><b>TOTAL</b> </h6>
                                <div>Calculé pendant la commande</div>
                            </div>
                        </td> 
                    </tr> 
                </table>
                <a style="float: right; margin-bottom: 0px;" class="btn btn_popular"
                            href="{% url 'checkout' %}">Finaliser ma commande</a>
            </div>
            <!-- 
                  <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Prix</strong></div>
                    <div style="flex:1"><strong>Quantité</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                </div>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                        <div style="flex:2">{{ item.product.name }}</div>
                        <div style="flex:1"><p> {{ item.product.price }} FCFA</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{ item.quantity }}</p>
                            <div class="quantity">
                                <img class="chg-quantity" src="{% static 'images/arrow-up.png' %}">
        
                                <img class="chg-quantity" src="{% static 'images/arrow-down.png' %}" >
                            </div>
                        </div>
                        <div style="flex:1">{{ item.get_total }} FCFA</div>
                    </div>
                {% endfor %}
            </div>
            -->
          
        </div>
    </div>
</div>
{% endblock %}