{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
{% include 'store/navigation.html'%}
<style>
   #title-section{
        padding-top: 100px;
        padding-bottom: 80px;
        background-image: url("{% static 'images/banniere-moto.jpg' %}"); 
        color:white;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
     <div class="row">
        <div class="col-12 text-center mb-5 bg-dark" id="title-section"> 
            <h2 class="categorie__title">Découvrez nos {{ categorie.name }} </h2>
            <div class="divider d-flex mx-auto"></div>
            <div class="container mt-4">
              <!--{{ categorie.description }}-->
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aspernatur mollitia repellendus officia id similique quos obcaecati illo veniam necessitatibus ex qui architecto, doloribus dicta nisi impedit ipsa molestias cum?
            </div>
        </div>

        {% if subcategories %}
          <div class="row">
            <div class="col-12 text-center">
              <div class="row mx-auto d-flex justify-content-center">
                {% for subcategorie in subcategories %}
                  <div class="col-md-2">
                    <div class="subcategorie__block">
                      <a href="{% url 'boutique' %}?type={{subcategorie.name}}">
                        <img src="{{subcategorie.imageURL}}" alt=""> 
                        <div>{{subcategorie.name}}</div>
                      </a>
                    </div> 
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
           
          <div class="col-12 text-center mb-3"> 
            <h2 class="subcategorie__title">Nos produits</h2>
            <div class="divider d-flex mx-auto"></div>

            <div class="container mt-4">
              <div class="row gy-2">
                {% for product in products %}
                    <div class="col-12 col-md-3">
                        <div class="product_item">
                            <img class="" src="{{product.imageURL}}" alt="" width="100%" >
                            <div class="bg-white px-2 py-2" style="border-radius: 0px 0px 5px 5px;text-align: left;">
                                <small>{{product.categorie}}</small>
                                <div class="d-flex justify-content-between">
                                    <h4 class="item_name" style="font-size: 18px;"> 
                                      {% if product.name %}
                                        {{ product.name }}
                                      {% else %}
                                        {{ product.brand }} {{ product.type_model }}
                                      {% endif %}
                                    </h4> 
                                    <p class="item_price" style="font-size: 18px;">{{ product.price|separate_by_space }} FCFA</p>
                                </div> 
                                <div class="d-grid gap-2 pb-2"> 
                                    {% if product.name %}
                                      <a class="btn btn_popular" href="{% url 'details-item' item_id=product.pk %}" type="button">Voir cet équipement</a> 
                                    {% else %}
                                      <a class="btn btn_popular" href="{% url 'details' moto_id=product.pk %}" type="button">Voir cet équipement</a>
                                    {% endif %}
                                </div>
                            </div> 
                        </div>
                    </div>
                {% endfor %} 
              </div>
              <div class="row mt-5">
                <div class="col-12">
                  <a type="button" href="{% url 'boutique' %}?type={{categorie.name}}" class="categorie_moreButton btn">Voir plus de produits</a>
                </div>
              </div> 
            </div>
          </div>

     </div>
{% endblock %}