{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div style="background-color: #f7f7f7;">
    <div class="row">
      <div class="swiper" id="swiper3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img class="detail__image" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          </div>  

          <div class="swiper-slide">
            <img class="detail__image" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          </div> 

          <div class="swiper-slide">
            <img class="detail__image" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          </div> 
        </div> 
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-custom"></div>
        <div class="swiper-button-next swiper-button-custom"></div>
       
      </div>
    </div>  
    <section class="row bg-white mt-1 mb-2 detail__header pt-3 sticky-top">
      <div class="col-sm-4 px-5 text-center">
         <h3 class="detail__header__name">{{moto.name}}</h3>
         <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="col-sm-3 offset-sm-2 text-center">
        <h3 class="detail__header__price">{{moto.price|separate_by_space}} FCFA</h3>
        <strike  class="detail__header__price__strike" style="color:red">600 000 FCFA</strike>
        <p>Lorem ipsum dolor sit </p>
      </div>
      <div class="col-sm-3 text-center">
        <button type="button" class="btn_commande">Contactez nous</button> &nbsp;
        <button type="button" class="btn_popular">Commander</button>
      </div>
    </section>

    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Détails</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h5><b>Informations</b></h5>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row detail__container mt-4 mb-4 d-flex justify-content-center">
                     <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/brand1.png' %}" alt="" class="detail__logo"> Marque</h6>
                      <p class="detail__texte">{{moto.brand}}</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/moto.png' %}" alt="" class="detail__logo"> Modèle</h6>
                      <p class="detail__texte">{{moto.name}}</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/brand.png' %}" alt="" class="detail__logo"> Type de modèle</h6>
                      <p class="detail__texte">{{moto.type_model}}</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/coloration.png' %}" alt="" class="detail__logo"> Couleur</h6>
                      <p class="detail__texte">{{moto.coulour}}</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/delivery.png' %}" alt="" class="detail__logo"> Usage</h6>
                      <p class="detail__texte">{{moto.usage}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h5><b>Moteur et consommation</b></h5>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row detail__container mt-4 mb-4 d-flex justify-content-center">
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/piston.png' %}" alt="" class="detail__logo"> Cylindre</h6>
                      <p class="detail__texte">{{moto.cylindre}} cm</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/performance.png' %}" alt="" class="detail__logo"> Nombre de vitesse</h6>
                      <p class="detail__texte">{{moto.nbre_vitesse}}</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/moteur.png' %}" alt="" class="detail__logo"> Puissance </h6>
                      <p class="detail__texte">{{moto.puissance_admin}} KW</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/tank.png' %}" alt="" class="detail__logo"> Reservoir</h6>
                      <p class="detail__texte">{{moto.capacite_recervoir}} L</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/weight.png' %}" alt="" class="detail__logo"> Poids</h6>
                      <p class="detail__texte">{{moto.poids}} Kg</p>
                    </div>
        
                    <div class="col-6 col-md-2 text-center">
                      <h6> <img src="{% static 'images/brand.png' %}" alt="" class="detail__logo"> Garantie</h6>
                      <p class="detail__texte">{{moto.motor_warranty}} Km</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Description</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <p>
             {{moto.description}} 
          </p>
          <p>
              
          </p>
        </div>
      </div>
    </section>


    <section class="bg-white mb-3 py-4">
       <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Véhicules similaires</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <div class="swiper" id="swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for similar_moto in similars %}
                <div class="swiper-slide">
                  <img class="" src="{{similar_moto.imageURL}}" alt="" width="100%">
                  <div>
                  <h4 class="item_name">{{similar_moto.name}}</h4>  
                  <p class="item_price">{{similar_moto.price|separate_by_space}} FCFA</p>
                  <p>{{similar_moto.cylindre}} cm &bullet; manuel &bullet; essence</p>
                  <div class="d-grid gap-2">
                    <button class="btn_popular" type="button">Voir cette moto</button> 
                  </div>
                  </div> 
                </div>  
              {% endfor %}
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
            </div> 
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-custom"></div>
            <div class="swiper-button-next swiper-button-custom"></div>
           
          </div>
        </div>
       </div>
    </section>
</div>
<br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}