{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'store/navigation.html' %}
 
<div style="background-color: #f7f7f7;">
    <div class="row"> 
      <div class="swiper" id="swiper3">
        <!-- Additional required wrapper --> 
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for moto_image in moto_images %}
            <div class="swiper-slide">
              <img class="detail__image" src="{{ moto_image.image.url }}" alt="{{ moto_image.title }}" width="100%" height="300">
            </div> 
          {% endfor %} 
        </div> 
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-custom"></div>
        <div class="swiper-button-next swiper-button-custom"></div>
       
      </div> 
    </div>  
    <section class="row bg-white gx-4 mt-1 mb-2 detail__header pt-3 pb-3 sticky-md-top">
      <div class="col-sm-2 text-center">
        <img src="{{ moto.imageURL }}" alt="" width="130" height="100">
      </div>
      <div class="col-sm-4">
         <h3 class="detail__header__name">{{moto.brand}} {{ moto.type_model }}</h3>
         <p><b>Usage</b> : {{ moto.usage }}</p>
      </div>
      <div class="col-sm-3 text-md-end">
        {% if moto.sale_price %}
        <h3 class="detail__header__price">{{moto.get_sale_price|separate_by_space}} FCFA</h3>
        <strike  class="detail__header__price__strike" style="color:red">{{ moto.price|separate_by_space }} FCFA</strike>
        {% else %}
        <h3 class="detail__header__price">{{moto.price|separate_by_space}} FCFA</h3>
        {% endif %}
        <p>Lorem ipsum dolor sit </p>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn_commande">Contactez nous</button> &nbsp;
        <button type="button" class="btn_popular">Acheter maintenant</button>
      </div>
    </section>

    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Détails</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>


          <div class="row mt-4">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="fas fa-motorcycle"></i> &nbsp;Données de base</h5>
            </div>
            <div class="col-sm-6">
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Marque</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.brand}}</span>
                    </div>
                  </div>
                </div> 
              </div> 
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Modèle</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.type_model}}</span>
                    </div>
                  </div>
                </div> 
              </div> 
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Usage</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.usage}}</span>
                    </div>
                  </div>
                </div> 
              </div> 
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Garantie moteur</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.motor_warranty}} Km</span>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="bi bi-clock-history"></i> &nbsp; Historique du véhicule</h5>
            </div>
            <div class="col-sm-6"> 
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Année</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">2023</span>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="bi bi-steam mr-2"></i> &nbsp;Spécifications techniques</h5>
            </div>
            <div class="col-sm-6">
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Puissance</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.puissance_admin}} CV</span>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Cylindre</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.cylindre}} cm<sup>3</sup></span>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Vitesse</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.nbre_vitesse}}</span>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Type démarrage</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">Pédale + démarrage électrique</span>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Tension batterie</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">12 V</span>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Nombre de place</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">2</span>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="bi bi-fuel-pump-diesel mr-2"></i> &nbsp; Source d'énergie</h5>
            </div>
            <div class="col-sm-6">
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Carburant</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">Essence</span>
                    </div>
                  </div>
                </div> 
              </div> 
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Reservoir</h6>
                    </div>
                    <div class="col-5 offset-2">
                      <span class="detail__texte">{{moto.capacite_recervoir}} L</span>
                    </div>
                  </div>
                </div> 
              </div> 
            </div>
          </div>
          <div class="row mt-3">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="bi bi-gear-wide-connected"></i> &nbsp; Equipement</h5>
            </div>
            <div class="col-sm-6">
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Bonus</h6>
                    </div>
                    <div class="col-5 offset-2 d-flex flex-column">
                      <span class="detail__texte">Casque</span> 
                    </div>
                    <div class="col-5">
                      <h6>Sécurité</h6>
                    </div>
                    <div class="col-5 offset-2 d-flex flex-column"> 
                      <span class="detail__texte">Alarme</span>
                    </div>
                    <div class="col-5">
                      <h6>Géolocalisation</h6>
                    </div>
                    <div class="col-5 offset-2 d-flex flex-column">
                      <span class="detail__texte">Non</span> 
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <hr>
            <div class="col-sm-6">
              <h5 class="details__section__header"><i class="bi bi-palette-fill"></i> &nbsp;Couleur</h5>
            </div>
            <div class="col-sm-6">
              <div class="row d-flex flex-column">
                <div class="col-sm-8 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h6>Couleur extérieur</h6>
                    </div>
                    <div class="col-5 offset-2 d-flex justify-content-start">
                      {% for item in variantes %}
                          <div class="product-color" style="background-color: {{ item.value }};"></div> &nbsp;
                      {% endfor %}
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>

    
    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Description</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <p>
             {{moto.description}} 
          </p>
          <p>
              
          </p>
        </div>
      </div>
    </section>


    <section class="bg-white mb-3 py-4">
       <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Véhicules similaires</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <div class="swiper" id="swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for similar_moto in similars %}
                <div class="swiper-slide">
                  <img class="" src="{{similar_moto.imageURL}}" alt="" width="100%">
                  <div class="px-2">
                  <div class="d-flex justify-content-between">
                    <h4 class="item_name">{{similar_moto.name}}</h4>  
                    <p class="item_price">{{similar_moto.price|separate_by_space}} FCFA</p>
                  </div>
                  <p>2019 &bullet; manuel &bullet; essence</p>
                  <div class="d-grid gap-2">
                    <button class="btn_popular" type="button">Voir cette moto</button> 
                  </div>
                  </div> 
                </div>  
              {% endfor %}
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
            </div> 
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-custom"></div>
            <div class="swiper-button-next swiper-button-custom"></div>
           
          </div>
        </div>
       </div>
    </section>
</div>
<br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}