{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'store/navigation.html' %}
<style> 
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-custom {
    text-align: center;
    font-size: 18px;
    background: #fff; 
    justify-content: center;
    align-items: center;
  }

  .swiper {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 50%;
    width: 80%;
  }

  .mySwiper {
    height: 61%;
    box-sizing: border-box;  
    margin-top:15px; 
    margin-bottom: 15px;
  }

  .mySwiper .swiper-slide-custom { 
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1; 
    border:2px solid #e95a0c;
  }

  .swiper-slide-custom img {
    display: block; 
    object-fit: cover;
  } 
</style>

<div style="background-color: #f7f7f7;">
    <section class="bg-white mb-3 py-4">
        <div class="container-fluid">
            <div class="row mt-2 gx-4">
              <div class="col-md-7">
                {% if item_images %}
                <div class="row">
                  <div class="col-md-3">
                      <div thumbsSlider="" class="swiper mySwiper" style="height: 400px;">
                          <div class="swiper-wrapper">
                              {% for item_image in item_images %}
                                  <div class="swiper-slide swiper-slide-custom text-center">
                                      <img class="detail__image" src="{{ item_image.images.url }}" alt="{{ item_image.title }}" width="90" height="90">
                                  </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="swiper mySwiper2" style="height: 500px;">
                          <div class="swiper-wrapper">
                              {% for item_image in item_images %}
                                  <div class="swiper-slide text-center swiper-slide-custom">
                                      <img class="detail__image" src="{{ item_image.images.url }}" alt="{{ item_image.title }}" width="100%" height="100%">
                                  </div>
                              {% endfor %}
                          </div> 
                          <!-- Boutons de navigation -->
                          <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div>
                      </div>
                  </div>
              </div>
              
                {% else %}
                    <div class="d-flex justify-content-center">
                        <img src="{{ item.imageURL }}" alt="" width="300" height="300">
                    </div>
                {% endif %}
            </div>
            
                <div class="col-md-5">
                    <h3 class="detail__header__name">{{item.name}}</h3>
                    <p>Catégorie: <b>{{item.categorie}}</b></p>
                    {% if item.sale_price %}
                      <div class="d-flex justify-content-start">
                        <strike style="padding: 5px; color: grey;">{{ item.price|separate_by_space }} FCFA</strike>
                        <div class="details2_solde">
                          -{{ item.get_reduction_percentage }}%
                        </div>
                      </div> 
                    <p><h3 class="detail__header__price">{{item.get_sale_price|separate_by_space}} FCFA</h3></p> 
                    {% else %}
                    <p><h3 class="detail__header__price">{{item.price|separate_by_space}} FCFA</h3></p>
                    {% endif %}
                    <hr>
                    <p>Disponibilité: <span class="text-success">En stock</span></p> 
                    <form action="" data-product-id="{{ item.id }}">
                      <span style="color:grey;">Selectionnez une taille :</span>
                      <div class="d-flex justify-content-start"> 
                        {% for item in variantes %}  
                          <label class="radio-button">
                            <input type="radio" name="size_choice" value="{{ item.size }}">
                            <span>{{ item.size }}</span>
                          </label>
                        {% endfor %}
                      </div> 
                      <span style="color:grey;">Selectionnez une couleur :</span>
                      <div class="d-flex justify-content-start mb-4 pt-2">    
                        <div class="color-options d-flex justify-content-start"></div>  
                      </div> 
                      <div class="d-flex align-items-center"> <!-- Utilisez la classe "d-flex" pour aligner les éléments horizontalement --> 
                          <button class="btn btn_popular update-cart py-3 px-5" data-product={{item.id}} data-action="add">Ajouter au panier <img src="{% static 'images/next.png' %}" alt=""></button> <!-- Utilisez la classe "ml-3" pour ajouter un espacement à gauche -->
                      </div> <br> 
                    </form> 
                </div>
            </div>
        </div> 
    </section>  
 
    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Description</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <p>
             {{item.description}} 
          </p>
          <p>
              
          </p>
        </div>
      </div>
    </section>


    <section class="bg-white mb-3 py-4">
       <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Véhicules similaires</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <div class="swiper" id="swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for similar_moto in similars %}
                <div class="swiper-slide">
                  <img class="" src="{{similar_moto.imageURL}}" alt="" width="100%">
                  <div class="px-2">
                  <div class="d-flex justify-content-between">
                    <h4 class="item_name">{{similar_moto.name}}</h4>  
                    <p class="item_price">{{similar_moto.price|separate_by_space}} FCFA</p> 
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn_popular" type="button">Voir cette moto</button> 
                  </div>
                  </div> 
                </div>  
              {% endfor %}
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
            </div> 
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-custom"></div>
            <div class="swiper-button-next swiper-button-custom"></div>
           
          </div>
        </div>
       </div>
    </section>
</div>
<br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script>  
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 20,
      slidesPerView: 4,
      freeMode: true,
      direction: 'vertical',
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10, 
      thumbs: {
        swiper: swiper,
      },
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
    });


    $(document).ready(function() {
        // Lorsqu'un utilisateur change la taille
        $('input[name="size_choice"]').on('change', function() {
            var productId = $(this).closest('form').data('product-id');
            var selectedSize = $(this).val();

            // Effectuer une requête AJAX pour récupérer les couleurs
            $.ajax({
                url: '/get_colors/',  // Remplacez par l'URL de votre vue Django pour récupérer les couleurs
                type: 'GET',
                data: {
                    product_id: productId,
                    size: selectedSize,
                },
                success: function(data) {
                    // Mettez à jour l'affichage des couleurs avec les données reçues 
                    updateColorOptions(data);
                },
                error: function(error) {
                    console.error('Erreur lors de la requête AJAX', error);
                }
            });
        });

        // Fonction pour mettre à jour l'affichage des couleurs
        function updateColorOptions(data) {
            // Supprimer toutes les options de couleur actuelles
            $('.color-options').empty();
            console.log(data)

            // Ajouter les nouvelles options de couleur
            data.forEach(function(item) { 
                console.log("bonjour le monde");
                var colorOption = '<div class="color-option">' +
                                      '<input type="radio" id="color_' + item.id + '" name="color_variant" class="radio-input"/>' +
                                      '<label for="color_' + item.id + '" class="radio-label">' +
                                          '<img src="' + item.image + '" alt="Image 1" width="70" height="70"/>' +
                                      '</label>' +
                                  '</div>';
                $('.color-options').append(colorOption);
            });
        }
    });
</script>
{% endblock javascript %}