{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'store/navigation.html' %}
<style> 
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-custom {
    text-align: center;
    font-size: 18px;
    background: #fff; 
    justify-content: center;
    align-items: center;
  }

  .swiper-slide-custom img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 

  .swiper {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 80%;
  }

  .mySwiper {
    height: 22%;
    box-sizing: border-box;  
    margin-top:15px; 
    margin-bottom: 15px;
  }

  .mySwiper .swiper-slide-custom {
    width: 90%;
    height: 90%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1; 
  }

  .swiper-slide-custom img {
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div style="background-color: #f7f7f7;">
    <section class="bg-white mb-3 py-4">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-md-6 ">
                  {% if item_images %}
                    <div class="swiper mySwiper2" >
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          {% for item_image in item_images %}
                            <div class="swiper-slide text-center swiper-slide-custom">
                              <img class="detail__image" src="{{ item_image.images.url }}" alt="{{ item_image.title }}" width="300" height="300">
                            </div>  
                          {% endfor %}  
                          
                        </div>  
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper-button-custom"></div>
                        <div class="swiper-button-next swiper-button-custom"></div>
                       
                    </div>

                    <div thumbsSlider="" class="swiper mySwiper">
                      <div class="swiper-wrapper">
                        {% for item_image in item_images %}
                            <div class="swiper-slide swiper-slide-custom text-center">
                              <img class="detail__image" src="{{ item_image.images.url }}" alt="{{ item_image.title }}"  width="90" height="90">
                            </div>  
                          {% endfor %}  
                      </div>
                    </div>
                    
                  {% else %}  
                    <div class="d-flex justify-content-center">
                      <img src="{{ item.imageURL }}" alt="" width="300" height="300">
                    </div> 
                  {% endif %}
                </div> 
                <div class="col-md-6">
                    <h3 class="detail__header__name">{{item.name}}</h3>
                    <p>Catégorie: <b>{{item.categorie}}</b></p>
                    <div class="d-flex justify-content-start">
                      <strike style="padding: 5px; color: grey;">19 000FCFA</strike>
                      <div class="details2_solde">
                        -21%
                      </div>
                    </div>
                    <p><h3 class="detail__header__price">{{item.price|separate_by_space}} FCFA</h3></p> 
                    <p>Disponibilité: <span class="text-success">En stock</span></p> 
                    <form action="">
                      <span style="color:grey;">Selectionnez une taille :</span>
                      <div class="d-flex justify-content-start"> 
                        {% for item in variantes_taille %} 
                          <label class="radio-button">
                            <input type="radio" name="size_choice" value="{{ item.value }}">
                            <span>{{ item.value }}</span>
                          </label>
                        {% endfor %}
                      </div>
                      <span style="color:grey;">Selectionnez une couleur :</span>
                      <div class="d-flex justify-content-start mb-4 pt-2"> 
                        {% for item in variantes_couleur %}  
                          <label class="color-radio">
                            <input type="radio" name="color_choice" value="{{ item.value }}">
                            <span style="background-color: {{ item.value }};"></span>
                          </label>
                        {% endfor %}
                      </div>
                      <div class="d-flex align-items-center"> <!-- Utilisez la classe "d-flex" pour aligner les éléments horizontalement --> 
                          <button class="btn btn_popular py-3 px-5">Ajouter au panier  <img src="{% static 'images/next.png' %}" alt=""></button> <!-- Utilisez la classe "ml-3" pour ajouter un espacement à gauche -->
                      </div> <br> 
                    </form> 
                </div>
            </div>
        </div> 
    </section>  
 
    <section class="bg-white mb-3 py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Description</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <p>
             {{item.description}} 
          </p>
          <p>
              
          </p>
        </div>
      </div>
    </section>


    <section class="bg-white mb-3 py-4">
       <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Véhicules similaires</h3>
            <div class="divider d-flex mx-auto" style="width:5%;"></div>
          </div>
          <div class="swiper" id="swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for similar_moto in similars %}
                <div class="swiper-slide">
                  <img class="" src="{{similar_moto.imageURL}}" alt="" width="100%">
                  <div class="px-2">
                  <div class="d-flex justify-content-between">
                    <h4 class="item_name">{{similar_moto.name}}</h4>  
                    <p class="item_price">{{similar_moto.price|separate_by_space}} FCFA</p> 
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn_popular" type="button">Voir cette moto</button> 
                  </div>
                  </div> 
                </div>  
              {% endfor %}
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
  
              <div class="swiper-slide">
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
                <div>
                <h4 class="item_name">Nom de la moto</h4>  
                <p class="item_price">500 000fcfa</p>
                <p>2019 &bullet; manuel &bullet; essence</p>
                <div class="d-grid gap-2">
                  <button class="btn_popular" type="button">Voir cette moto</button> 
                </div>
                </div> 
              </div> 
            </div> 
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-custom"></div>
            <div class="swiper-button-next swiper-button-custom"></div>
           
          </div>
        </div>
       </div>
    </section>
</div>
<br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script>  
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
</script>
{% endblock javascript %}