{% extends 'base.html' %}
{% load static %}
{% block content %} 
<div class="navigation">
  <a href="#home" id="menu-bar"> 
    Toutes les catégories
  </a> 
  <div class="deroulant">
    <button class="dropbtn">
      <i class="fas fa-motorcycle"></i>
      Motocyclette 
    </button>
    <div class="deroulant-content">
      <div class="row px-2">
        <div class="col-3 column">
          <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
        </div>
        <div class="col-3 column">
          <h3>Utilisation commerciale</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="col-2 column">
          <h3>Conçu pour la ville</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="col-2 column">
          <h3>Pour l'aventure</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>  
  <div class="deroulant">
    <button class="dropbtn">
      <i class="fas fa-trailer"></i>
      Tricycle 
    </button>
    <div class="deroulant-content">
      <div class="row px-2">
        <div class="col-3 column">
          <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
        </div>
        <div class="col-3 column">
          <h3>tricycle à 3 roues</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="col-2 column">
          <h3>tricycle à 5 roues</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> 
      </div>
    </div>
  </div>  
  <a href="#home">Marques</a>
  <div class="deroulant">
    <button class="dropbtn"> 
      <i class="fab fa-intercom"></i>      Accessoires 
    </button>
    <div class="deroulant-content">
      <div class="row px-2">
        <div class="col-3 column">
          <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
        </div>
        <div class="col-3 column">
          <h3>Accessoires moto</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="col-2 column">
          <h3>Accessoires tricycle</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> 
      </div>
    </div>
  </div>  
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100" height="450" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100" height="450" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100" height="450" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> <br>

<div class="container"> 

  <div class="row d-flex  justify-content-center"> 
    <div class="row mb-3">
      <div class="col-12 text-center">
          <h2 class="section_title">Achetez votre vehicule sur Mahata motors</h2>
          <div class="divider d-flex mx-auto"></div>
      </div>
    </div>
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Pratique</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> 
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Sécurisé</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> 
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Pratique</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> 
  </div> <br> 
  <hr>
  <div class="row ">
    <div class="row my-3">
      <div class="col-12 text-center">
          <h2 class="section_title">Nouveautés</h2>
          <div class="divider d-flex mx-auto"></div>
      </div>
    </div>
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">En savoir plus</button>
      </div>
    </div> 
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">Voir cette moto</button>
      </div>
    </div> 
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">Voir cette moto</button>
      </div>
    </div> 
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">Voir cette moto</button>
      </div>
    </div> 
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">Voir cette moto</button>
      </div>
    </div> 
    <div class="col-4">
      <div class="moto_block">
        <h3 class="moto_block_title">Nom de la moto</h3>
        <span>catégorie</span>
        <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
        <span style="margin-top:0px">À partir de</span>
        <p class="moto_block_price">3050000 FCFA</p>
        <button class="detail_btn">Voir cette moto</button>
      </div>
    </div> 
    
  </div> <br>

  <hr>
  <section class="row mb-5">
    <div class="row my-3">
      <div class="col-12 text-center">
          <h2 class="section_title">Découvrez une selection de nos motos le plus populaires</h2>
          <div class="divider d-flex mx-auto"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <div class="col-3">
        <div class="logo_block text-center">
          <img src="{% static 'images/placeholder.png' %}"style="margin-bottom: 20px;" width="150" height="100" alt="">
          <span class="text-center"> Audi </span>
        </div>
      </div>
      <a class="text-center mt-4" href="">Toutes les marques </a>
    </div>
  </section>

  <hr>

  <section class="row mb-4" style="margin:40px 0px;">

    <div class="col-5">
      <img src="{% static 'images/placeholder.png' %}" class="w-100" alt="">
    </div>

    <div class="col-7 py-4">
      <div class="row my-3">
        <div class="col-12 text-center">
            <h2 class="section_title">Trouvez le véhicule qui vous convient</h2>
            <div class="divider d-flex mx-auto"></div>
            <p class="text-center" style="margin: 25px 0px;">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore natus nostrum corrupti quos quo consectetur molestias, dolores beatae autem earum nam non iure est, itaque inventore impedit accusantium sit.
            </p>
            <button type="button" class="btn btn-warning">Lancez votre recherche</button>
        </div>
      </div>
    </div>
  </section>

  <br>

</div>
<br>
{% endblock content%}
</script>