{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %} 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/placeholder.png' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> <br>

<div class="main"> 

  <div class="row d-flex  justify-content-center"> 
    <div class="row mb-3">
      <div class="col-12 text-center">
          <h2 class="section_title">Achetez votre vehicule sur Mahata motors</h2>
          <div class="divider d-flex mx-auto"></div>
      </div>
    </div>
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Pratique</h5>
          <p class="card-text">
            Vous achetez votre véhicule facilement en ligne. Ensuite , nous vous livrons directement à domicile, et cela partout au cameroun.
          </p>
        </div>
      </div> 
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Sécurisé</h5>
          <p class="card-text">
            Chez nous, vous êtes toutjours en sécurité, avec un service après vente quasiment gratuit et une garantie de 3850 km de parcour incluse.
          </p>
        </div>
      </div> 
      <div class="card card_custom" style="width: 18rem;">
        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Personalisé</h5>
          <p class="card-text">
            Avec nous, vous avez le contrôle totale. Du financement à l'immatriculation en passant par le trancking, vous commandez comme vous le souhaitez.
          </p>
        </div>
      </div> 
  </div> <br> 
  <hr>
  <div class="container">
    <div class="row gy-2">
      <div class="row my-3">
        <div class="col-12 text-center">
            <h2 class="section_title">Nouveautés</h2>
            <div class="divider d-flex mx-auto"></div>
        </div>
      </div>
      {% for moto in motos %}
        <div class="col-12 col-md-4">
          <div class="moto_block">
            <h3 class="moto_block_title">{{moto.name}}</h3>
            <span>{{moto.genre}}</span>
            <img class="moto_block_img border-bottom" src="{{moto.imageURL}}" alt="" width="100%">
            <span style="margin-top:0px">À partir de</span>
            <p class="moto_block_price">{{moto.price|separate_by_space}} FCFA</p>
            <a class="detail_btn"  href="{% url 'details' moto_id=moto.pk %}">En savoir plus</a>
          </div>
        </div> 
      {% endfor %}
      <div class="col-12 col-md-4">
        <div class="moto_block">
          <h3 class="moto_block_title">Nom de la moto</h3>
          <span>catégorie</span>
          <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          <span style="margin-top:0px">À partir de</span>
          <p class="moto_block_price">3050000 FCFA</p>
          <button class="detail_btn">Voir cette moto</button>
        </div>
      </div> 
      <div class="col-12 col-md-4">
        <div class="moto_block">
          <h3 class="moto_block_title">Nom de la moto</h3>
          <span>catégorie</span>
          <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          <span style="margin-top:0px">À partir de</span>
          <p class="moto_block_price">3050000 FCFA</p>
          <button class="detail_btn">Voir cette moto</button>
        </div>
      </div> 
      <div class="col-12 col-md-4">
        <div class="moto_block">
          <h3 class="moto_block_title">Nom de la moto</h3>
          <span>catégorie</span>
          <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          <span style="margin-top:0px">À partir de</span>
          <p class="moto_block_price">3050000 FCFA</p>
          <button class="detail_btn">Voir cette moto</button>
        </div>
      </div> 
      <div class="col-12 col-md-4">
        <div class="moto_block">
          <h3 class="moto_block_title">Nom de la moto</h3>
          <span>catégorie</span>
          <img class="moto_block_img" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
          <span style="margin-top:0px">À partir de</span>
          <p class="moto_block_price">3050000 FCFA</p>
          <button class="detail_btn">Voir cette moto</button>
        </div>
      </div> 
      
    </div>
  </div>
  <br>

  <hr>
  <div class="container">
    <section class="row mb-5">
      <div class="row my-3">
        <div class="col-12 text-center">
            <h2 class="section_title">Découvrez une selection de nos véhicules le plus populaires</h2>
            <div class="divider d-flex mx-auto"></div>
        </div>
      </div>
      <div class="row my-4 text-center">
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">Audi</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">Audi</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">Audi</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%" >
            <p class="lobo_block_name">Audi</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">NangFang</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">Senke</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%">
            <p class="lobo_block_name">Haouju</p>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="logo_block">
            <img src="{% static 'images/placeholder.png' %}" alt="" width="100%" >
            <p class="lobo_block_name">Sanili</p>
          </div>
        </div>
      </div>
      
    </section>
  </div>

  <hr>

  <div class="container">
    <section class="row mb-4" style="margin:40px 0px;">

      <div class="col-12 col-md-5">
        <img src="{% static 'images/placeholder.png' %}" class="w-100 rounded" alt="">
      </div>
  
      <div class="col-12 col-md-7 py-4">
        <div class="row my-3">
          <div class="col-12 text-center">
              <h2 class="section_title">Trouvez le véhicule qui vous convient</h2>
              <div class="divider d-flex mx-auto"></div>
              <p class="text-center" style="margin: 25px 0px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore natus nostrum corrupti quos quo consectetur molestias, dolores beatae autem earum nam non iure est, itaque inventore impedit accusantium sit.
              </p>
              <button type="button" class="btn btn-warning">Lancez votre recherche</button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <hr>

  <div class="container">
    <section class="row mb-5">
      <div class="row my-3">
        <div class="col-12 text-center">
            <h2 class="section_title mx-auto">Recherches les plus populaires</h2>
            <div class="divider d-flex mx-auto"></div>
        </div>
      </div>
      <div class="row mt-4">
        
        <div class="swiper" id="swiper1">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              <div>
              <h4 class="item_name">Nom de la moto</h4>  
              <p class="item_price">500 000fcfa</p>
              <p>2019 &bullet; manuel &bullet; essence</p>
              <div class="d-grid gap-2">
                <button class="btn_popular" type="button">Voir cette moto</button> 
              </div>
              </div> 
            </div>  

            <div class="swiper-slide">
              <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              <div>
              <h4 class="item_name">Nom de la moto</h4>  
              <p class="item_price">500 000fcfa</p>
              <p>2019 &bullet; manuel &bullet; essence</p>
              <div class="d-grid gap-2">
                <button class="btn_popular" type="button">Voir cette moto</button> 
              </div>
              </div> 
            </div> 

            <div class="swiper-slide">
              <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              <div>
              <h4 class="item_name">Nom de la moto</h4>  
              <p class="item_price">500 000fcfa</p>
              <p>2019 &bullet; manuel &bullet; essence</p>
              <div class="d-grid gap-2">
                <button class="btn_popular" type="button">Voir cette moto</button> 
              </div>
              </div> 
            </div> 
          </div> 
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev swiper-button-custom"></div>
          <div class="swiper-button-next swiper-button-custom"></div>
         
        </div>
      <a class="text-center btn-find" href="{% url 'boutique' %}">Trouvez votre véhicule &nbsp;<i class="fas fa-chevron-right"></i> </a>
      </div>
    </section>
  </div>
  <hr>
  <div class="container">
    <section class="row mb-4" style="margin:40px 0px;">

      <div class="col-md-7 col-12 py-4">
        <div class="row my-3">
          <div class="col-12 text-center">
              <h2 class="section_title text-center">Devenez Vendeur chez nous</h2>
              <div class="divider d-flex mx-auto"></div>
              <p class="text-center" style="margin: 25px 0px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore natus nostrum corrupti quos quo consectetur molestias, dolores beatae autem earum nam non iure est, itaque inventore impedit accusantium sit.
              </p>
              <button type="button" class="btn btn-warning">Rejoignez nous maintenant</button>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-12">
        <img src="{% static 'images/placeholder.png' %}" class="w-100 rounded" alt="">
      </div>
  
    </section>
  </div>

  <div class="container">
    <section class="row mb-5">
      <div class="row my-3">
        <div class="col-12 text-center">
            <h2 class="section_title">Nos partenaires</h2>
            <div class="divider d-flex mx-auto"></div>
        </div>
      </div>
      <div class="row mt-4 my-4">
        <div class="swiper my-auto" id="swiper2">
          <div class="swiper-wrapper">
              <div class="swiper-slide"> 
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              </div>
              <div class="swiper-slide"> 
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              </div>
              <div class="swiper-slide"> 
                <img class="" src="{% static 'images/placeholder.png' %}" alt="" width="100%">
              </div>
          </div>
        </div>
      </div>
       
    </section>
  </div>

</div>
<br>
{% endblock content%}
</script>