{% load static %} 
<div class="navigation">
    <a href="#home" id="menu-bar"> 
      Toutes les catégories
    </a>  
    {% for categorie in categories %}
        <div class="deroulant">
            <button class="dropbtn">
            <a href="{% url 'boutique' %}?type={{ categorie.name }}">
            <i class="fas fa-motorcycle"></i>
             {{ categorie.name }}
            </a> 
            </button> 
            <div class="deroulant-content">
            <div class="row px-2">
                <div class="col-3 column">
                    <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
                </div>
                {% if categorie.sous_categories.all %}
                    {% for sous_categorie in categorie.sous_categories.all %}
                        <div class="col-3 column">
                            <a href="{% url 'boutique' %}?type={{ sous_categorie.name }}"><h3>{{sous_categorie.name}}</h3></a>
                            {% for produit in sous_categorie.produits.all %}
                                <a href="#">{{ produit.name }}</a>
                            {% endfor %} 
                        </div>
                    {% endfor %}
                {% else %} 
                    <div class="col-3 column"> 
                        {% for produit in categorie.produits.all|slice:"10" %}
                            <a href="#">{{ produit.name }}</a>
                        {% endfor %} 
                    </div> 
                {% endif %} 
            </div>
            </div>
        </div>
    {% endfor %}
    <!--<div class="deroulant">
      <button class="dropbtn">
        <a href="{% url 'categorie' categorie_slug='tricycle' %}">
          <i class="fas fa-trailer"></i>
          Tricycle 
        </a> 
      </button>
      <div class="deroulant-content">
        <div class="row px-2">
          <div class="col-3 column">
            <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
          </div>
          <div class="col-3 column">
            <h3>tricycle à 3 roues</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          <div class="col-2 column">
            <h3>tricycle à 5 roues</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div> 
        </div>
      </div>
    </div>   
    <div class="deroulant">
      <button class="dropbtn"> 
        <a href="{% url 'categorie' categorie_slug='accessoires' %}">
          <i class="fab fa-intercom"></i> Accéssoires 
        </a>
      </button>
      <div class="deroulant-content">
        <div class="row px-2">
          <div class="col-3 column">
            <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
          </div>
          <div class="col-3 column">
            <h3>Accessoires</h3>
            <a href="#">Motocyclette</a>
            <a href="#">Tricycle</a> 
          </div>
          <div class="col-2 column">
            <h3>Pièces de rechange</h3>
            <a href="#">Motocyclette</a>
            <a href="#">Tricycle</a> 
          </div> 
        </div>
      </div>
    </div> 
    <div class="deroulant">
      <button class="dropbtn"> 
        <a href="{% url 'categorie' categorie_slug='piece-de-rechange' %}">
          <i class="fab fa-intercom"></i> Pièces de rechange
        </a>
      </button>
      <div class="deroulant-content">
        <div class="row px-2">
          <div class="col-3 column">
            <img src="{% static 'images/placeholder.png' %}" alt="" style="width: 300px; height: 250px;">
          </div>
          <div class="col-3 column">
            <h3>Accessoires</h3>
            <a href="#">Motocyclette</a>
            <a href="#">Tricycle</a> 
          </div>
          <div class="col-2 column">
            <h3>Pièces de rechange</h3>
            <a href="#">Motocyclette</a>
            <a href="#">Tricycle</a> 
          </div> 
        </div>
      </div>
    </div>  -->
</div>