<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- main.css -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">  
    <!-- Font awesom icon-->
    <script src="https://kit.fontawesome.com/f2070ffc62.js" crossorigin="anonymous"></script> 
    <title>Mahata motors</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md py-3" style="box-shadow: 0px 1px 5px rgba(204, 204, 204, 0.577);">
      <div class="container">
          <a class="navbar-brand text-uppercase fw-bold" href="{% url 'home' %}">
              <img src="{% static 'images/logo1.png' %}" width="130" height="50" alt="">
          </a> 
          <form class="d-flex">
            <input class="search_field" type="search" placeholder="Rechercher un produit.." aria-label="Search">
            <button class="search_btn" type="submit"><i class="fa fa-search"></i></button>
          </form> 
          <ul class="navbar-nav justify-content-end">  
              <li class="nav-item">
                  <a class="" href="{% url 'login' %}">
                  <button class="compte_btn">Mon compte</button>
                  </a>
              </li>
              <li class="nav-item mx-5">
                <a href="{% url 'cart' %}" class="position-relative">
                  <i class="fas fa-shopping-cart" style="font-size: 25px; color:#0066cc"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" style="background-color: #e95a0c;">
                      0
                  <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
              </li>
          </ul>
      </div>
    </nav> 
  </header>
    {% block content %}{% endblock content %}

  <footer class="row px-5" style="font-size: 14px;">
    <div class="col-4">
      <p>&copy;2022 Mahata motors Cameroun &bull; Tous droits réservés</p>
    </div>
    <div class="col-5 offset-3 d-flex justify-content-end">
      <a href="">Mention légale</a>
      <a href="">Condittions générales</a>
      <a href="">Politique de confidentialité</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>  
</body>
</html>